*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2.section-title {
    margin: -150px;
}

.team-item{
    background: #f4f5f6 ;
    text-align:center;
    margin:20px 0;
    padding:50px 20px 40px 20px;
    border-radius:8pc 8pc;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out ;
     -ms-transition:all 0.25s ease-in-out;
     -o-transition: all 0.25s ease-in-out ;
     transition:all 0.25s ease-in-out;
}
.team-item:hover{
    background: #dc3545;
    color:white;
}
.team-item h3{
    margin:20px 0 1px 0 !important;
    color:#454545;
    font-size:10px;
    font-weight:700;
    text-transform:uppercase;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out ;
    transition:all 0.25s ease-in-out;
}

.section-subtitle{
    white-space: pre-line;
}
.team-item:hover {
    background: #81adc2;
    color: white;
}

.team-item:hover .team-info p {
    color: white !important; /* Ensure it overrides any other styles */
}

.team-item:hover h3{
    color: #1e1d1d;
    
}

.team-info{
    display:block;
    margin-bottom:0;
    color:black;
}

.team-info p{
    color: #100f0f;
}

.team-info::after{
    background: #008aff;
    background: -webkit-linear-gradient(
        135deg, #8ed9f0 0%, #eb8ce0 100%
    );
    background:-o-linear-gradient(
        135deg, #8ed9f0 0%, #eb8ce0 100%
    );
    background:-moz-linear-gradient(
        135deg,  #8ed9f0 0%, #eb8ce0 100%
    );
    background:linear-gradient(
        135deg,  #8ed9f0 0%, #eb8ce0 100%
    );

    display:inline-block;
    vertical-align:middle;
    content:'';
    width:110px;
    height:3px;
    margin-top:-20px;
    margin-left:30px;
}

.team-img{
    max-width:140px;
    padding:6px 6px;
    background-color: #dedede;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50% ;
    border-radius: 50%;
}

ul.team-icon{
    margin-top: 25px;
}

ul.team-icon li{
    display:inline-block;
    margin:0 -3px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out ;
     -ms-transition:all 0.25s ease-in-out;
     -o-transition: all 0.25s ease-in-out ;
     transition:all 0.25s ease-in-out;
}

ul.team-icon li a{
    margin:0;
    display:inline-block;
    padding: 8px 8px;
    width:34px;
    height: 34px;
    font-size:18px;
    line-height: 18px;
    background-color: #fff;
    border-radius: 50%;
    color:#fff ;
}
ul.team-icon li a.linkedin {
    background-color: #0077b5; 
    color: #fff;
    margin-right:50px;
  }
  
  ul.team-icon li a.github {
    background-color: #000000; 
    color: #fff;
    margin-right:10px;
  }
  
team-icon li a:hover{
    color:#dedede;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out ;
     -ms-transition:all 0.25s ease-in-out;
     -o-transition: all 0.25s ease-in-out ;
     transition:all 0.25s ease-in-out;
}
.animate-left {
    animation: slideInLeft 2s ease-out forwards;
}

.animate-right {
    animation: slideInRight 2s ease-out forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}